@charset "UTF-8";
/* CSS Document */

.box {
	background-color: #E15D5F;
	height: 500px;
	width: 500px;
	border-radius: 10px;
	position: relative;
	top: 80px;
	left: 30%
}

.keys {
	position: relative;
	top: 15px;
}








@media screen and (max-width: 980px) {
	#wrapper {
		width: 94%;
	}
	#content {
		width: 65%;
	}
	#sidebar {
		width: 30%;
	}
}

@media screen and (max-width: 700px) {
	#content, #sidebar {
			width: auto;
			float: none;
	}
	#header {
		height: auto;
	}
}

@media screen and (max-width: 480px) {
	#header {
		height: auto;
	}
	h1 {
		font-size: 24px;
	}
	
	#sidebar {
		float: none;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
 	body {
 	 font-size: 40px;
	}
	#header {
		height: auto;
	}
	#content {
		width: auto;
	}
	#sidebar {
		width: auto;
		clear: both;
	}
 	#header, #sidebar, #content, #footer {
		border-radius: 16px;
		border-width: 8px;
	}

}
