@charset "UTF-8";
/* CSS Document */

body {
background-image: url(images/paper.jpg);
}

h1 {
	
}

h2 {
	
}

h3 {
	
}

.box {
	height: 800px;
	width: 1150px;
	position: relative;
	top: 30px;
	left: 15%;
	
}

.header {
	height: 150px;
	width: 1100px;
	background-image: url(images/Headerfinal.png);
	position: relative;
	top: 10px;
	left: 25px;
	border-radius: 16px;

}

.keys {
	position: relative;
	top: 0px;
	margin: 30px 20px 0px 0px;
}
.used.button.letter {
	display: none;
	background-color: white;
}
#keybox {
	background-color: rgba(76, 198, 255, 0.4); 
	float: left;
	width: 700px;
	height: 190px;
	border-radius: 16px;
	margin: 10px 0px 0px 10px;
}
.sidebox {
	background-color: rgba(76, 198, 255, 0.4);
	height: 600px;
	width: 170px;
	float: left;
	border-radius: 16px;
	margin: 25px 20px 25px 25px;
}

#gen {
	width: 100px;
	height: 100px;
}
.button.category {
	cursor: pointer;
	margin-top: 10px;
	border-radius: 8px;
	width: 100px;
	height: 50px;
	top: 80px;
	left: 40%;
	color: white;
}

#food {
	background-image: url(images/macandcheese.png);
}

#sports {
	background-image: url(images/esports.png);
}

#animals {
	background-image: url(images/eanimal.png);
}

#countries {
	background-image: url(images/eworld.png);
}

#easy {
	background-color: rgba(10,239,76,1.00);
}

#normal {
	background-color: rgba(11,158,237,1.00);
}

#hard {
	background-color: rgba(216,9,236,1.00);
}

#side {
	margin-top: none;
	border: none;
	border-radius: 16px;
	margin-left: 17px;
	cursor: pointer;
	border-top: 2px solid transparent;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-style: oblique;
}

	
.button {
	width: 40px;
	height: 30px;
	border: none;
	border-radius: 10px;
	margin-left: 17px;
	cursor: pointer;
	border-top: 2px solid transparent;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	text-align: center;
}
.button.letter {
	background-color: white;
	font-style: oblique;
}

#hangman {
	background-color: rgba(76, 198, 255, 0.4);
	width: 700px;
	height: 400px;
	float: left;
	margin: 25px 0px 0px 10px;
	border-radius: 16px;
}

#guessed {
	background-color: rgba(76, 198, 255, 0.4);
	height: 600px;
	width: 170px;
	border-radius: 16px;
	float: right;
	margin: 25px 25px 1px 5px;
}

.food {
}

#words {
	font-size: 20px;
}

.font {
	font-family: 'Handlee';
	font-style:normal;
}

@media screen and (max-width: 980px) {
	
}

@media screen and (max-width: 700px) {
	
}

@media screen and (max-width: 480px) {
	
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px) {
	
}