@charset "UTF-8";
/* CSS Document */

body {
background-image: url(images/paper.jpg);
}

h1 {
	
}

h2 {
	
}

h3 {
	
}

.box {
	height: 700px;
	width: 1150px;
	position: relative;
	top: 30px;
	left: 15%;
	background-color:rgba(178,178,178,1.00);
}

.keys {
	position: relative;
	top: 0px;
	margin: 30px 20px 0px 0px;
}
.used.button.letter {
	display: none;
	background-color: white;
}
#keybox {
	background-color: rgba(76, 198, 255, 0.4); 
	float: left;
	width: 700px;
	height: 190px;
	border-radius: 16px;
	margin: 10px 0px 0px 10px;
}
.sidebox {
	background-color: rgba(76, 198, 255, 0.4);
	height: 600px;
	width: 170px;
	float: left;
	border-radius: 16px;
	margin: 25px 20px 25px 25px;
}

.button.category {
	cursor: pointer;
	margin-top: 10px;
	border-radius: 8px;
	width: 100px;
	height: 50px;
	top: 80px;
	left: 40%;
	color: white;
}

#food {
	background-image: url(images/macandcheese.png);
}

#sports {
	background-image: url(images/esports.png);
}

#animals {
	background-image: url(images/eanimal.png);
}

#countries {
	background-image: url(images/eworld.png);
}

#side {
	margin-top: none;
	border: none;
	border-radius: 16px;
	margin-left: 17px;
	cursor: pointer;
	border-top: 2px solid transparent;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-style: oblique;
}

	
.button {
	width: 40px;
	height: 30px;
	border: none;
	border-radius: 10px;
	margin-left: 17px;
	cursor: pointer;
	border-top: 2px solid transparent;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-style: oblique;
	text-align: center;
}
.button.letter {
	background-color: white;
}

#hangman {
	background-color: rgba(76, 198, 255, 0.4);
	width: 700px;
	height: 400px;
	float: left;
	margin: 25px 0px 0px 10px;
	border-radius: 16px;
}

#guessed {
	background-color: rgba(76, 198, 255, 0.4);
	height: 600px;
	width: 170px;
	border-radius: 16px;
	float: right;
	margin: 25px 25px 1px 5px;
}


@media screen and (max-width: 980px) {
	#box {
		width: 94%;
	}
	#keybox {
		width: 65%;
	}
	#sidebar {
		width: 30%;
	}
}

@media screen and (max-width: 700px) {
	#keybox, #sidebar {
			width: auto;
			float: none;
	}
	#header {
		height: auto;
	}
}

@media screen and (max-width: 480px) {
	#header {
		height: auto;
	}
	h1 {
		font-size: 24px;
	}
	
	#sidebar {
		float: none;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
 	body {
 	 font-size: 40px;
	}
	#header {
		height: auto;
	}
	#keybox {
		width: auto;
	}
	#sidebar {
		width: auto;
		clear: both;
	}
 	#header, #sidebar, #content, #footer {
		border-radius: 16px;
		border-width: 8px;
	}

.food {
}
}